<div class="row">
    <div class="column large-3"  data-ng-repeat = "image in images">
        <img ng-src=" {{ image.photo }}" />
        <p > {{ image.name }}</p>
    </div>
    
    <hr>
    <div class="row large-up-3">
         <h1>testimonials</h1>
        <div class="column" data-ng-repeat = "testimonial in testimonials">
           
            
                <p>{{ testimonial.content }}</p>
                <h4> {{ testimonial.who }} ~ {{ testimonial.from }} </h4>
        
        </div>
    </div>
    <hr>
    
    <div class="row">
        <h2>Add a new testimonial</h2>
        <p><b>HINT: * Must be filled</b></p>
        Name* : <input type="text" data-ng-model="newTestimonial.who">
        Message here* : <input type="text" data-ng-model="newTestimonial.content">
        Where from*: <input type="text" data-ng-model="newTestimonial.from">
        <button class="button warning" 
                data-ng-click ="addTestimonial()"
                 data-ng-disabled="!newTestimonial.who || !newTestimonial.content || !newTestimonial.from "> Add testimonial</button>
        
        
    </div>
</div>