<div class=""  data-aos="fade" data-aos-delay="100" data-aos-duration="1000">
    <div class="row large-expand">
            <h1 class="">This is STUDENTS Page</h1>
    </div>
            <table>
                <thead>
                  <tr>
                      <th colspan="3">Displaying {{ studentsNumber}} Students from database</th>
                    </tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Course</th>
                    
                </thead>
                <tbody>
                  <tr data-ng-repeat="student in students | orderBy: 'course'">
                      <div>
                          <td>
                              <a href="studentIndex/{{ students.indexOf(student)}}" style="padding: 10px 30px; background: #c111f0; color:white;">
                                    {{students.indexOf(student)}}
                              </a>
                          </td>
                              <!-- Test this line using array list index -->
<!--                              <td><a href="#studentName/{{ student.name}}">{{student.name}}</a><br> -->
                              <td><a href="studentName/{{ students.indexOf(student)}}">{{student.name}}</a><br> 
                                </td>
                                <td>{{student.course}}</td>
                          </div>
                        
                      
                  </tr>
                </tbody>

            </table>
    
    
            <h1>Displaying nested data <b>ng-if</b></h1>
            <ul  data-ng-repeat="student in students"> 
<!--                <li data-ng-repeat="student in students | orderBy: 'course'"-->
                <li data-aos="fade-down" data-aos-delay="{{myDelaysIncreament($index) }}" data-aos-duration="3000" > 
                    {{$index}}
                    {{student.name}}
                    <div ng-if="student.unitsTaken.length>0">
                        Courses
                        <ul data-ng-repeat="unit in student.unitsTaken">

                            <li>{{unit}}</li>
                            
                        
                        </ul>
                    </div>
                    <!--
                    <div ng-hide= "student.unitsTaken.length>0"  class="animated fadeInUp">
                        <h1>No courses for this students</h1>
                    </div>
                    -->
                    
                </li>
            </ul>
</div>
        
        
    
    
 
